<ul>
    <% var data = this,
           len = data.length,
           i = 0,
           cart,
           product,
           row_total,
           total = 0;
        for(i; i < len; i += 1) {
            cart = data[i][0];
            product = data[i][1];
            subtotal = product.attributes.price * cart.attributes.amount;
            total += subtotal;
            // console.log(cart.uid, product.uid)
    %>
    <li>
        Product: <%= product.attributes.title %>
        Amount: <%= cart.attributes.amount %>
        Price: <%= product.attributes.price %> USD
        Subtotal: <%= subtotal %> USD
    </li>
    <% } %>
</ul>
<p>
    Total: <%= total %> USD
</p>