<ul id="product-list">
    <% var collection = this;
        for(var item in collection) { 
    %>
    <li>
        <div id="product-<%= collection[item].attributes.id %>" class='product' itemscope itemtype="http://data-vocabulary.org/Product">
            <%
                var title_slug = collection[item].attributes.title.replace(/ /g,'-');
            %>
            <h2 itemprop="name">
                <a href="#/product/<%= title_slug %>/<%= collection[item].attributes.id %>">
                    <%= collection[item].attributes.title %>
                </a>
            </h2>
            <p class='description' itemprop="description">
                <% 
                    var description = collection[item].attributes.description;
                    if (description.length > 60) {
                        description = description.substring(0, 60).concat(' ...');
                    }
                %>
                <%= description %>
            </p>
            <ul>
                <% for(var category in collection[item].attributes.categories) { %>
                    <%
                        var cat = collection[item].attributes.categories[category],
                            slug = cat.replace(' ', '-');
                    %>
                <li class="category" itemprop="category">
                    <%= link_to(cat, '#/products/by_tag/' + slug) %>
                </li>
                <% } %>
            </ul>
            <div class="buy">
                Price: <span class="price" itemprop="price"><%= collection[item].attributes.price %>$</span>
                <form action="#/cart" method="post" accept-charset="utf-8">
                    <label>
                        Amount:
                        <select name="amount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </label>
                    <input type="hidden" name="id" value="<%= collection[item].attributes.id %>">
                    <input type="submit" name="submit" value="Buy">
                </form>
            </div>
        </div>
    </li>
    <% } %>
</ul>