<%
    var product = this.attributes;
%>
<div id="product-<%= product.id %>" class='product' itemscope itemtype="http://data-vocabulary.org/Product">
    <%
        var title_slug = product.title.replace(/ /g,'-');
    %>
    <h2 itemprop="name">
        <a href="#/product/<%= title_slug %>/<%= product.id %>">
            <%= product.title %>
        </a>
    </h2>
    <p class='description' itemprop="description">
        <img src="assets/img/bag.jpeg" alt="<%= product.title %>">
        <span><%= product.description %></span>
    </p>
    <ul>
        <% for(var category in product.categories) { %>
            <%
                var cat = product.categories[category],
                    slug = cat.replace(' ', '-');
            %>
        <li class="category" itemprop="category">
            <%= link_to(cat, '#/products/by_tag/' + slug) %>
        </li>
        <% } %>
    </ul>
    <div class="buy">
        Price: <span class="price" itemprop="price"><%= product.price %>$</span>
        <form action="#/cart" method="post" accept-charset="utf-8">
            <label>
                Amount:
                <select name="amount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </label>
            <input type="hidden" name="id" value="<%= product.id %>">
            <input class="button" type="submit" name="submit" value="Buy">
        </form>
    </div>
</div>
